BOT_TOKEN=8208822744:AAFvndRhEmb8o4CvuLBM_IjpXimGqfx1rlQ

DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:5432/DATABASE

ADMIN_TELEGRAM_ID=128835770

ADMIN_USER=admin
ADMIN_PASSWORD=Deniska1)


SQUAD_1_NAME=Отряд 1
SQUAD_1_LINK=https://t.me/+UW_0tTxXkb5lMWQy

SQUAD_2_NAME=Отряд 2
SQUAD_2_LINK=https://t.me/+wm0wgJLVtgVkMDhi

SQUAD_3_NAME=Отряд 3
SQUAD_3_LINK=https://t.me/+RGNsFERXaRxlM2Yy

SQUAD_4_NAME=Отряд 4
SQUAD_4_LINK=https://t.me/+AGYRuIIWVw9iZWYy

SQUAD_5_NAME=Отряд 5
SQUAD_5_LINK=https://t.me/+jGZn3RW4B3MyOGI6

SQUAD_6_NAME=Отряд 6
SQUAD_6_LINK=https://t.me/+B4Vh9LiZlwYwYWZi

SQUAD_7_NAME=Отряд 7
SQUAD_7_LINK=https://t.me/+zQIX4NrX8Q8wNzNi

SQUAD_8_NAME=Отряд 8
SQUAD_8_LINK=https://t.me/+5lyRiYpNJrNlYzAy

SQUAD_9_NAME=Отряд 9
SQUAD_9_LINK=https://t.me/+i4AiNU7PB1UwMTIy

SQUAD_10_NAME=Отряд 10
SQUAD_10_LINK=https://t.me/+SdfXtco2pRNjNDNi
