BOT_TOKEN=ВСТАВЬ_СЮДА_ТОКЕН_БОТА

DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:5432/DATABASE

ADMIN_USER=admin
ADMIN_PASSWORD=ПРИДУМАЙ_СИЛЬНЫЙ_ПАРОЛЬ

SQUAD_1_LINK=https://t.me/ССЫЛКА_ОТРЯД_1
SQUAD_2_LINK=https://t.me/ССЫЛКА_ОТРЯД_2
SQUAD_3_LINK=https://t.me/ССЫЛКА_ОТРЯД_3
SQUAD_4_LINK=https://t.me/ССЫЛКА_ОТРЯД_4
SQUAD_5_LINK=https://t.me/ССЫЛКА_ОТРЯД_5
SQUAD_6_LINK=https://t.me/ССЫЛКА_ОТРЯД_6
SQUAD_7_LINK=https://t.me/ССЫЛКА_ОТРЯД_7
SQUAD_8_LINK=https://t.me/ССЫЛКА_ОТРЯД_8
SQUAD_9_LINK=https://t.me/ССЫЛКА_ОТРЯД_9
SQUAD_10_LINK=https://t.me/ССЫЛКА_ОТРЯД_10
